.logo {
  margin: 5px 90px;
  cursor: pointer;
}

.boxSide {
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-between;
  margin-right: 70px;
}

.notif {
  font-size: 24px;
  color: rgba(155, 155, 155, 1);
  cursor: pointer;
}

.mail {
  font-size: 24px;
  color: rgba(155, 155, 155, 1);
  cursor: pointer;
}

.profile {
  border-radius: 20px;
  cursor: pointer;
}
