.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 110vh;
}

.top {
  background-color: rgba(94, 80, 161, 1);
  color: #fff;
  padding: 10px 10px 10px 105px;
  font-size: 28px;
}

.boxSearch {
  position: relative;
  width: 86%;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.input {
  width: 80%;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
}

.input:focus {
  outline: none;
}

.category {
  border: none;
  background-color: #fff;
}

.dropDown {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -120;
  right: -1;
  border-radius: 1px;
  width: 76px;
  padding: 3px;
  box-shadow: -1px 7px 33px -25px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 7px 33px -25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 7px 33px -25px rgba(0, 0, 0, 0.75);
}

.btnDropDown {
  background-color: #fff;
  border: none;
  border-bottom: solid 1px rgb(193, 193, 193);
}

.btnDropDownTwo {
  background-color: #fff;
  border: none;
}

.iconSearch {
  font-size: 24px;
  position: absolute;
  right: 230px;
  color: rgba(158, 160, 165, 1);
  top: 10px;
  z-index: 9;
}

.category {
  position: relative;
  margin-left: 10px;
  border-left: 1px solid rgba(158, 160, 165, 1);
  padding: 5px 10px;
  color: rgba(158, 160, 165, 1);
  cursor: pointer;
}

.btn {
  padding: 5px 30px;
  background-color: rgba(94, 80, 161, 1);
  color: #fff;
  border: none;
  margin-left: 15px;
  border-radius: 3px;
}

.pagination {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-items: end;
  justify-content: flex-end;
  margin-top: 50px;
}

@media screen and (max-width: 576px) {
  .iconSearch {
    display: none;
  }
  .pagination {
    margin-top: 10px;
  }
}
