.user {
  object-fit: cover;
  border-radius: 50% !important;
}

.boxCard {
  display: flex;
  padding: 20px;
  width: 1130px;
  background-color: aqua;
}

.boxImage{
  margin-top: 15px;
  border-radius: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location {
  display: flex;
  justify-items: center;
  max-height: 20px;
  margin-top: 0px;
}

.icon {

}

.name {
  margin-top: 30px;
  color: rgba(31, 42, 54, 1);
  font-size: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titleProfession {
  color: rgba(158, 160, 165, 1);
}

.textLocation {
  margin-left: 5px;
  margin-top: -3px;
}

.boxSkill {
  margin-top: 10px;
  display: flex;
  max-width: 65%;
}

.skill {
  background-color: rgba(251, 176, 23, 1);
  text-align: center;
  color: #FFF;
  font-weight: 600;
  border-radius: 4px;
  padding: 2px 5px;
  margin-right: 15px;
}

.boxBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
}

.btn {
  background-color: rgba(94, 80, 161, 1);
  border: none;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
}